#container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid ;
    border-color: black;
    background-color: aqua;
}

#logo{
    width: 6%;
    margin-left: 5px;
}